<!DOCTYPE html>
<html>
  <title>hospital</title>
  <style>
    #psych{
        width:180vw;
        height: 70vh;
    }
  </style>
  <body>
    <form action="/hospital" method="get">
        <center>
    <h2>Visit in case of emergency</h2>
    </center>
    <img src="https://png.pngtree.com/png-clipart/20200226/original/pngtree-woman-make-consultation-about-romantical-problem-with-psychology-doctor-flat-style-png-image_5319446.jpg0" id="psych">
    <div>
      <img src="https://www.freepik.com/premium-psd/building-hospital-medic-side-view-3d-icon-rendering-illustration-transparent-background_28300017.htm">
      <p>APOLLO Hospital</p>
      <p>Contact: 9989644389</p>
    </div>
    <div>
      <img src="https://pngtree.com/freepng/vector-hospital-icon_4155883.html">
      <p>NIIMS Hospital</p>
      <p>Contact: 9989645389</p>
    </div>
    </form>
  </body>
</html>