<!DOCTYPE html>
<html>
    <head>
        <title>Performane measure</title>
        <style>
            body{
            margin:30px;
            }
            img{
                width:45vw;
                height:48vh;
            }
        </style>
    </head>
    <body>
        <form action="/perf" method="get">
        <center>
            <img src="https://analysisfunction.civilservice.gov.uk/wp-content/uploads/2022/12/pie-bar.svg">
            <h1>Performance of the system so far...</h1>

        </center>
    </form>
    </body>
    </html>